* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(127, 113, 170);
    width: 100%;
    margin: auto;
}

h1,
p,
label {
    color: #e8c069;
}

h2 {
    color: #3d3f5a;
}

.skills {
    font-style: italic;
    margin-bottom: 20px;
}

a:link {
    text-decoration: none;
}

.active>a {
    color: #e8c069;
}

.active>a:hover {
    background-color: rgb(127, 104, 198);
}

hr {
    border-top: 3px dashed rgb(127, 104, 198);
    width: 50%;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.skills-list,
.skill,
.rate,
.education-list,
.university,
.uni-name {
    border: 1px solid;
    color: #e8c069;
    border-color: black;

}

.rate {
    text-align: left;
}

.image>img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    transition: 0.4s;
    border: 1px solid #e8c069;
}

.gallery-collection {
    border-radius: 10%;
    height: 200px;
    width: 250px;
    transition: 0.4s;
}

img:hover {
    box-shadow: 10px 5px 5px rgba(199, 197, 197, 0.423);
    transform: translateX(-10px);
    transition: 0.4s;
    transition-timing-function: ease-out;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

input[type=submit] {
    width: 100%;
    background-color: #e8c069;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #e8c069aa;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.heading>h1 {
    margin: 10px;
}

.image {
    display: inline;
}

.intro,
.education,
.contact,
.my-gallery {
    margin-top: 65px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: rgb(97, 86, 131);
}

.navbar>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
}

.about-me,
.skills {
    text-align: center;
}

.my-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.gallery-r-1,
.gallery-r-2,
.gallery-r-3 {
    display: block;
    text-align: center;
}

@media only screen and (max-width: 650px) {
    .navbar>ul {
        flex-direction: column;
        align-items: center;
    }

    .intro,
    .education,
    .contact,
    .my-gallery {
        margin-top: 190px;
    }
}

@media only screen and (max-width: 760px) {
    .my-gallery {
        flex-direction: column;
    }
}