* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: black;
    width: 100%;
    margin: auto;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: #ea1d6f;
}

.navbar>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
}

h1,
p,
label {
    color: #ddd;
}

h2 {
    color: #ddd;
}

a:link {
    text-decoration: none;
}

.active>a {
    color: white;
}

.active>a:hover {
    background-color: rgb(52, 52, 54);
}

hr {
    border-color: rgb(178, 176, 182);
    width: 50%;
}


.about-me-container {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-card {
    color: #ddd;
    background-color: rgb(34, 32, 32);
    border: 1px solid #ea1d6f;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-me-card>hr {
    margin: 0;
}

.about-me-head>h1 {
    text-align: center;
}

.about-me-head>img {
    padding-top: 21px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}

.about-me-main {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.about-me-main>p {
    width: 70%;
}

.about-me-skills {
    text-align: center;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.skills>h4 {
    border: 1px solid #ea1d6f;
    border-radius: 5%;
    padding: 15px;
    margin-left: 5px;
}

.education {
    width: 100%;
    color: #ddd;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.education>ul>li {
    margin-top: 8px;
}

.edu-details {
    border: 1px solid #ea1d6f;
    border-radius: 5%;
    padding: 30px;
}

.edu-details>h2 {
    color: #ddd;
}

.edu-details>ul>li>span {
    color: #ea1d6f;
}

.contact {
    background-color: rgb(35, 34, 34);
    padding: 30px;
    width: 25%;
    margin: auto;
    margin-top: 100px;
    border-radius: 5%;

    box-shadow:
        0px 0.6px 2.2px rgba(255, 255, 255, 0.02),
        0px 1.5px 5.3px rgba(255, 255, 255, 0.028),
        0px 2.9px 10px rgba(255, 255, 255, 0.035),
        0px 5.1px 17.9px rgba(255, 255, 255, 0.042),
        0px 9.6px 33.4px rgba(255, 255, 255, 0.05),
        0px 23px 80px rgba(255, 255, 255, 0.07);
}

label {
    color: #ddd;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ea1d6f;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 1.4px;
}

textarea {
    resize: none;
}

input[type=submit] {
    width: 100%;
    background-color: #ea1d6f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}

input[type=submit]:hover {
    background-color: rgba(29, 26, 26, 0.574);
}

.education,
.my-gallery {
    margin-top: 65px;
}

.gallery-collection {
    border-radius: 10%;
    height: 200px;
    width: 250px;
}

.my-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.gallery-r-1,
.gallery-r-2,
.gallery-r-3 {
    display: block;
    text-align: center;
}

.gallery-r-1>img,
.gallery-r-2>img,
.gallery-r-3>img {
    border: 1px solid #ea1d6f;
}

.my-gallery {
    margin-bottom: 38px;
}

@media only screen and (max-width: 650px) {
    .navbar>ul {
        flex-direction: column;
        align-items: center;
    }

    .education,
    .contact,
    .my-gallery {
        margin-top: 190px;
    }
}

@media only screen and (max-width: 760px) {
    .my-gallery {
        flex-direction: column;
    }
}